.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}

body{
    margin: 0px;
    background-color: #94E0C0;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.orgami{
    border-radius: 100px;
    background-color: #a0d1ba;
    padding: 90px;
    width: 200px;
    font-family: fantasy;
}